<!DOCTYPE html>
<!--DOM-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table,tr,th, td{border: 1px solid black;}
        span{display:inline-block;padding-right:20px;border: 1px solid black;}
    </style>
</head>
<body>
    <!--객체 COMPONET-->
    <div id="wrapper"></div>  <!-- 1. 네이밍을 해줌으로써 객채화가 된다. 2. 자바 인스턴스-->
    <div id="wrapper2"></div> 
    <br>
    <script src="../resorces/js/index.js"></script>
    <script> app.init()</script>

</body>
</html>